//******** Product component ********//
.search-container2 {
    display: flex;
    margin: 15px 6%;
    .form-control {
        width: 536px;
        height: 40px;
        border-radius: 0px;
    }
    .input-group-text {
        border-radius: 0;
        background-color: #e7ab3c;
        color: #ffffff;
        border: none;
    }
    .btn-outline-custom {
        color: #212226;
        border: 1px solid #212226;
        font-size: 20px;
        &:hover {
            color: #e7ab3c;
            transition: all .5s;
        }
    }
    .navbar-brand {
        color: #212226;
            margin: auto 0px;
    }
}
.container-product {
    margin: 30px 6%;
    .row {
        background-color: #f2f2f2;
        padding: 64px 24px;
        margin-right: 0px;
        margin-left: 0px;
        .description-container {
            .price-container {
                p {
                    font-size: 16px;
                    font-family: "Muli", sans-serif;
                    color: #636363;
                    font-weight: 400;
                    line-height: 26px;
                    margin: 0px !important;
                }
                .brand-watch {
                    color: #252525;
                    font-size: 32px;
                    font-weight: 700;
                    margin-bottom: 24px !important;
                }
                .type-watch {
                    color: #252525;
                    font-weight: 700;
                    letter-spacing: 2px;
                    line-height: 28px;
                    margin-bottom: 24px !important;
                }
                .price-watch {
                    color: #252525;
                    font-size: 32px;
                    font-weight: 700;
                    margin-bottom: 24px !important;
                }
            }
            .quantity-container {
                margin-bottom: 24px !important;
                p {
                    font-size: 16px;
                    font-family: "Muli", sans-serif;
                    color: #636363;
                    font-weight: 400;
                    line-height: 26px;
                    margin: 0px !important;
                }
            }
            .buttons-container {
                .order-btn {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 15px 60px;
                    color: #ffffff;
                    background: #e7ab3c;
                    text-transform: uppercase;
                    margin-top: 24px;
                    transition: .5s all;
                    &:hover {
                        color: #000;
                    }
                }
                .wish-list-btn {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 15px 60px;
                    border: 1px solid black;
                    color: #000;
                    background: #fff;
                    text-transform: uppercase;
                    margin-top: 24px;
                    transition: .5s all;
                    &:hover {
                        color: #fff;
                        background-color: #000;
                    }
                }
            }
        }
    }
    .row2 {
        background-color: #f2f2f2;
        padding: 64px 24px;
        margin-top: 48px;
        display: flex;
        .text {
            padding-right: 144px;
        }
        .img-desc {
            width: 50%;
            height: 50%;
        }
    }
    .row3 {
        background-color: #f2f2f2;
        padding: 64px 24px;
        margin-top: 48px;
        .title {
            font-size: 1.75rem;
            text-align: center;
            color: #000;
        }
        .carousel {
            background-color: #f2f2f2 !important;
            .carousel-indicators {
                bottom: -60px !important;
            }
            .carousel-indicators li {
                border: 1px solid black;
                background-color: #e7ab3c;
            }
        }
        .card-deck {
            width: 60%;
            .price-product {
                color: #e7ab3c;
                font-size: 20px;
                font-weight: 500
            }
            .order-btn-card {
                background-color: #e7ab3c;
                font-size: 14px;
                font-weight: 700;
                padding: 15px 60px;
                color: #ffffff;
                width: 100%;
                &:hover {
                    color: #000;
                }
            }
        }
    }

    // Quantity Number Input Design
    .number-input input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .number-input {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .number-input button {
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0;
        position: relative;
    }

    .number-input button:before,
    .number-input button:after {
        display: inline-block;
        position: absolute;
        content: '';
        height: 2px;
        transform: translate(-50%, -50%);
    }

    .number-input button.plus:after {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .number-input input[type=number] {
        text-align: center;
    }

    .number-input.number-input {
        border: 1px solid #ced4da;
        width: 10rem;
        border-radius: .25rem;
    }

    .number-input.number-input button {
        width: 2.6rem;
        height: .7rem;
    }

    .number-input.number-input button.minus {
        padding-left: 10px;
    }

    .number-input.number-input button:before,
    .number-input.number-input button:after {
        width: .7rem;
        background-color: #495057;
    }

    .number-input.number-input input[type=number] {
        max-width: 4rem;
        padding: .5rem;
        border: 1px solid #ced4da;
        border-width: 0 1px;
        font-size: 1rem;
        height: 2rem;
        color: #495057;
    }

    @media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color:transparent) {
            .number-input.def-number-input.safari_only button:before, .number-input.def-number-input.safari_only button:after {
                margin-top: -.3rem;
            }
        }
    }
    .select-watch-container {
        display: flex !important;
        .active {
            border: 3px solid #e7ab3c;
        }
        .watch-img {
            width: 10%;
        }
    }

    img {
        max-width: 100%
    }
    .preview {
        display: flex;
    }
    @media screen and (max-width: 996px) {
        .preview {
        margin-bottom: 20px; } }

    .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

    .preview-thumbnail.nav-tabs {
        border: none;
        display: block;
    }
    .preview-thumbnail.nav-tabs li {
        width: 110px;
        margin-bottom: 18px;
        // margin-right: 2.5%;
    }
    .preview-thumbnail.nav-tabs li img {
        max-width: 70%;
        display: flex; 
    }
    .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0;
    }
    .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0;
    }

    .tab-content {
        overflow: hidden; 
    }
    .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
                animation-name: opacity;
        -webkit-animation-duration: .3s;
                animation-duration: .3s;
    }
}
@media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; 
    }
}
  
@-webkit-keyframes opacity {
0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
}
100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
}

@keyframes opacity {
0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
}
100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
}
//******** End of Product component ********//

//******** Products component ********//
.container-products{
    margin-top: 0px;
    .dropdowns-container {
        display: flex;
        .dropdown-btn {
            font-size: 16px;
            color: #4c4c4c;
            background-color: transparent;
            border: 1px solid #ECEDEE;
            padding: 8px 12px 8px 12px;
        }
        .dropdown-menu{
            width: 100%;
        }
    }
    p{
        color: #636363;
        line-height: 39px;
    }
    .card-img-top{
       height: 294px !important;
    }
    
    .nonvisible-buttons {
        position: absolute;
        top: 56%;
        width: 100%;
        justify-content: center;
        .btn-outline-custom {
            background-color: #e7ab3c;
            padding: 10px 14px;
            height: 51px;
            margin-right: 8px;
            &:hover {
                color: #fff;
                transition: all .5s;
            }
        }
        .more-button {
            background-color: #fff;
            padding: 6px 30px;
            border-radius: 4px;
            &:hover {
                -moz-box-shadow:    inset 0 0 2px #000000;
                -webkit-box-shadow: inset 0 0 2px #000000;
                box-shadow: inset 0 0 2px #000000;
                transition: all .3s;
            }
        }
    }
    .heart-icon {
        background: url('../assets/heart.png') no-repeat;
        height: 40px;
        width: 40px;
        float: right;
        margin-left: 80%;
        margin-bottom: -40px;
        background-size: 40px 40px;
        z-index: 10;
        &:hover {
            background: url('../assets/heart-yellow.png') no-repeat;
            background-size: 40px 40px;
            transition: all .5s;
        }
    }
    .heart-icon-yellow {
        background: url('../assets/heart-yellow.png') no-repeat;
        height: 40px;
        width: 40px;
        float: right;
        margin-left: 80%;
        margin-bottom: -40px;
        background-size: 40px 40px;
        z-index: 10;
    }
    .price-product {
       color: #e7ab3c;
       font-size: 20px;
       font-weight: 500
   }
}
//******** End of Products component ********//

//******** SideBarProducts component ********//dropdown-btn
.list-group-item {
    border: none;
    padding: 6px 0px;
    &:focus {
        background: transparent;
        color: black;
    }
    &:active {
        background: transparent;
        color: #e7ab3c;
    }
    &:hover {
        background: transparent;
        color: #e7ab3c;
    }
}
//******** End of SideBarProducts component ********//

//******** ProductsPage component ********//
.lineUnderNavbar {
    display: flex;
    margin: 0% 0% 2% 0%;
    border-bottom: 1px solid #ebebeb;
    .homeBtn {
        display: flex;
        .fa-home {
            margin-top: 12px;
            color:rgb(58, 56, 56);
        }
        .homeTitle {
            color:rgb(58, 56, 56);
        }
    }
    
    .fa-chevron-right {
        color: #b2b2b2;
        margin-top: 12px;
    }
    .shopTitle {
        color: #b2b2b2;
        
    }
}
//******** End of ProductsPage component ********//